{% extends 'base/main.html' %}
{% block content %}

<div class="auth-wrapper">
    <div class="auth-header">
        <h1>Login</h1>
    </div>

    <form method="POST" class="auth-form login-form">
        {% csrf_token %}
        
        <div class="input-box">
            <input type="text" class="input-field" id="id_username" name="username" required>
            <label for="id_username" class="input-label">Username</label>
            <i class='bx bx-user form-icon'></i>
        </div>
        
        <div class="input-box">
            <input type="password" class="input-field" id="id_password" name="password" required>
            <label for="id_password" class="input-label">Password</label>
            <i class='bx bx-lock-alt form-icon'></i>
        </div>
        
        {% if form.errors %}
            <div class="errorlist">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}
        
        <div style="text-align: right; margin-bottom: 20px;">
            <a href="#">Forgot password?</a>
        </div>
        
        <button type="submit" class="btn-submit">Login <i class='bx bx-log-in'></i></button>
        
        <div class="form-footer">
            <span>Don't have an account? <a href="{% url 'register' %}">Register</a></span>
        </div>
    </form>
</div>

{% endblock %}