{% extends 'base/main.html' %}
{% block content %}

<div class="form-container">
    <div class="form-header">
        <h1>Delete Task</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete the task <strong>"{{task}}"</strong>?</p>
        
        <div class="form-actions">
            <a href="{% url 'tasks' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary btn-danger">Delete</button>
        </div>
    </form>
</div>

{% endblock %}